<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.match.mapper.TeamLogoMapper">

    <resultMap type="TeamLogo" id="TeamLogoResult">
        <result property="id" column="id" />
        <result property="teamName" column="team_name" />
        <result property="logoUrl" column="logo_url" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="delFlag" column="del_flag" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectTeamLogoVo">
        select id, team_name, logo_url, create_by, create_time,
               update_by, update_time, del_flag, remark
        from football_team_logo
    </sql>

    <select id="selectTeamLogoById" parameterType="Long" resultMap="TeamLogoResult">
        <include refid="selectTeamLogoVo" />
        where id = #{id} and del_flag = '0'
    </select>

    <select id="selectTeamLogoList" parameterType="TeamLogo" resultMap="TeamLogoResult">
        <include refid="selectTeamLogoVo" />
        <where>
            del_flag = '0'
            <if test="teamName != null and teamName != ''">
                and team_name like concat('%', #{teamName}, '%')
            </if>
        </where>
        order by team_name asc
    </select>

    <insert id="insertTeamLogo" parameterType="TeamLogo" useGeneratedKeys="true" keyProperty="id">
        insert into football_team_logo
        (team_name, logo_url, create_by, create_time, del_flag, remark)
        values
        (#{teamName}, #{logoUrl}, #{createBy}, #{createTime}, '0', #{remark})
    </insert>

    <update id="updateTeamLogo" parameterType="TeamLogo">
        update football_team_logo
        <set>
            <if test="teamName != null and teamName != ''">team_name = #{teamName},</if>
            <if test="logoUrl != null and logoUrl != ''">logo_url = #{logoUrl},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = #{updateTime},
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where id = #{id} and del_flag = '0'
    </update>

    <update id="deleteTeamLogoById" parameterType="Long">
        update football_team_logo
        set del_flag = '2', update_time = now()
        where id = #{id} and del_flag = '0'
    </update>
</mapper>
